name: ci

on:
  push:
    paths:
      - 'aws-rds/backend/**'
  # pull_request:
  #   branches:
  #     - main
  #   paths:
  #     - 'aws-rds/backend/**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set short SHA
        id: set_short_sha
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: 'aws-rds/backend/Dockerfile'
          push: true
          tags: henriquelr/dves_api:latest,henriquelr/dves_api:${{ env.SHORT_SHA }}
  